.{$px}Site
    &-title
        text-shadow: 0 1px 0 clr-black;
        color: clr-white;
        font-family: Exo;
        font-size: font-lgm;
        font-weight: 400;
        margin-bottom: 22px
        text-align: center
        letter-spacing: -0.5px
        +m('phone')
            font-size: font-md
