.{$px}wrap
    padding: 0 15px;
    max-width: ($maxWidth + (@padding[1] * 2))
    min-width: 320px
    width: 100%
    box-sizing: border-box
    margin: 0 auto
    &-content
        margin: 0 auto
        max-width: $contentWidth



